body {
  background-color: #563e91 !important; }

.top-nav-collapse {
  background-color: #563e91 !important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #563e91 !important; } }
.hm-gradient .full-bg-img {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%); }

.ez-header-text, .ez-header-subtext, .ez-header-call-me {
  color: #3933a2; }

.ez-header-top-subtext,
.ez-header-bottom-text,
.ez-header-bottom-subtext {
  text-transform: uppercase; }

.ez-header-text-span,
.ez-header-bottom-subtext {
  text-shadow: 1px 1px 3px #3933a2 !important; }

.ez-soc-btn {
  z-index: 1100; }

.ez-soc-btn-vk {
  font-size: 0.85rem;
  background-color: rgba(76, 117, 163, 0.35) !important; }

#navbarTogglerCL40 a {
  text-transform: uppercase; }

.glitch {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  width: 200px; }

/* Real glitch effect */
.glitch {
  position: relative; }

.glitch:after {
  animation: glitch-animation 2s infinite linear alternate-reverse;
  background: transparent;
  clip: rect(0, 900px, 0, 0);
  color: white;
  content: attr(data-text);
  left: 2px;
  overflow: hidden;
  position: absolute;
  text-shadow: -1px 0 red;
  top: 0; }

.glitch:before {
  animation: glitch-animation-2 3s infinite linear alternate-reverse;
  background: transparent;
  clip: rect(0, 900px, 0, 0);
  color: white;
  content: attr(data-text);
  left: -2px;
  overflow: hidden;
  position: absolute;
  text-shadow: 1px 0 blue;
  top: 0; }

/* Expanded Animations */
@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0); }
  5% {
    clip: rect(12px, 9999px, 59px, 0); }
  10% {
    clip: rect(48px, 9999px, 29px, 0); }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0); }
  20% {
    clip: rect(63px, 9999px, 27px, 0); }
  25% {
    clip: rect(34px, 9999px, 55px, 0); }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0); }
  35% {
    clip: rect(20px, 9999px, 20px, 0); }
  40% {
    clip: rect(26px, 9999px, 60px, 0); }
  45% {
    clip: rect(25px, 9999px, 66px, 0); }
  50% {
    clip: rect(57px, 9999px, 98px, 0); }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0); }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0); }
  65% {
    clip: rect(54px, 9999px, 27px, 0); }
  70% {
    clip: rect(28px, 9999px, 99px, 0); }
  75% {
    clip: rect(45px, 9999px, 69px, 0); }
  80% {
    clip: rect(23px, 9999px, 85px, 0); }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0); }
  90% {
    clip: rect(45px, 9999px, 47px, 0); }
  95% {
    clip: rect(37px, 9999px, 20px, 0); }
  100% {
    clip: rect(4px, 9999px, 91px, 0); } }
@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0); }
  5% {
    clip: rect(52px, 9999px, 74px, 0); }
  10% {
    clip: rect(79px, 9999px, 85px, 0); }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0); }
  20% {
    clip: rect(67px, 9999px, 61px, 0); }
  25% {
    clip: rect(14px, 9999px, 79px, 0); }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0); }
  35% {
    clip: rect(86px, 9999px, 30px, 0); }
  40% {
    clip: rect(23px, 9999px, 98px, 0); }
  45% {
    clip: rect(85px, 9999px, 72px, 0); }
  50% {
    clip: rect(71px, 9999px, 75px, 0); }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0); }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0); }
  65% {
    clip: rect(59px, 9999px, 50px, 0); }
  70% {
    clip: rect(41px, 9999px, 62px, 0); }
  75% {
    clip: rect(2px, 9999px, 82px, 0); }
  80% {
    clip: rect(47px, 9999px, 73px, 0); }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0); }
  90% {
    clip: rect(26px, 9999px, 55px, 0); }
  95% {
    clip: rect(42px, 9999px, 97px, 0); }
  100% {
    clip: rect(38px, 9999px, 49px, 0); } }
.modal .modal-success i, .modal .modal-success svg {
  color: #01d36b; }
.modal .modal-info i, .modal .modal-info svg {
  color: #5394ff; }
.modal .modal-warning i, .modal .modal-warning svg {
  color: #ff8e38; }
.modal .modal-ganget i, .modal .modal-ganget svg {
  color: #cc0000; }

/* _ez-forms */
.ez-callme-dialog-content-header {
  background: -webkit-linear-gradient(bottom left, rgba(213, 15, 61, 0.82), rgba(13, 17, 198, 0.87) 100%) !important;
  background: -o-linear-gradient(bottom left, rgba(213, 15, 61, 0.82), rgba(13, 17, 198, 0.87) 100%) !important;
  background: linear-gradient(to top right, rgba(213, 15, 61, 0.82), rgba(13, 17, 198, 0.87) 100%) !important; }

.ez-callme-dialog-content-header p {
  text-transform: uppercase; }

.ez-callme-form-wrapper-body-item i, .ez-callme-form-wrapper-body-item svg {
  font-size: 1.75rem !important;
  color: #b01c55 !important; }
.ez-callme-form-wrapper-body-item .ez-form-control {
  font-size: 1.25rem !important; }

.ez-callme-form-wrapper-body-item-btn {
  background-color: #302fa5 !important; }

/* 
background-color: rgba(176,28,85,1);
background-color: rgba(179,74,133, 1);
background-color: rgba(86,55,147, 1);
background-color: rgba(48,47,165, 1);
 */
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .ez-callme-dialog-content-header p {
    font-size: 0.7rem !important;
    font-weight: 500; } }
@media (max-width: 767px) {
  .ez-callme-dialog-content-header {
    padding: 0.75rem 0.5rem !important; } }
.ez-header-addresse {
  font-family: Comfortaa;
  font-size: 0.9rem !important;
  font-weight: 300;
  color: white;
  margin: 0; }
  .ez-header-addresse .ez-header-addresse-post,
  .ez-header-addresse .ez-header-addresse-phone,
  .ez-header-addresse .ez-header-addresse-time {
    font-size: 0.9rem !important;
    margin-top: 0.15rem;
    margin-bottom: 0.25rem; }
    .ez-header-addresse .ez-header-addresse-post p,
    .ez-header-addresse .ez-header-addresse-phone p,
    .ez-header-addresse .ez-header-addresse-time p {
      margin: 0 !important; }
    .ez-header-addresse .ez-header-addresse-post i, .ez-header-addresse .ez-header-addresse-post svg,
    .ez-header-addresse .ez-header-addresse-phone i,
    .ez-header-addresse .ez-header-addresse-phone svg,
    .ez-header-addresse .ez-header-addresse-time i,
    .ez-header-addresse .ez-header-addresse-time svg {
      font-size: 0.9rem; }
    .ez-header-addresse .ez-header-addresse-post a,
    .ez-header-addresse .ez-header-addresse-phone a,
    .ez-header-addresse .ez-header-addresse-time a {
      color: white !important; }
    .ez-header-addresse .ez-header-addresse-post .ez-soc-icon,
    .ez-header-addresse .ez-header-addresse-phone .ez-soc-icon,
    .ez-header-addresse .ez-header-addresse-time .ez-soc-icon {
      font-size: 1.1rem;
      text-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.ez-button-top-callme .ez-button-top-callme-btn {
  color: white;
  border-color: white !important; }
  .ez-button-top-callme .ez-button-top-callme-btn i, .ez-button-top-callme .ez-button-top-callme-btn svg {
    font-size: 1.25rem; }
  .ez-button-top-callme .ez-button-top-callme-btn span {
    color: white;
    font-size: 1.25rem;
    padding-left: 1rem; }

@media (max-width: 1140px) {
  .ez-header-addresse .ez-header-addresse-post, .ez-header-addresse .ez-header-addresse-phone, .ez-header-addresse .ez-header-addresse-time {
    font-size: 0.7rem !important; }

  .ez-navbar-collapse-item {
    font-size: 0.85rem !important; } }
@media (max-width: 767px) {
  .ez-navbar {
    padding-left: 0; }

  .ez-form-zakaz-simpe-card-body-row {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

  .ez-form-zakaz-simpe-card-header {
    display: none; }

  .ez-form-zakaz-simpe-card-body-form label {
    font-size: 0.8rem !important; }

  .ez-navbar-brand {
    visibility: collapse !important;
    display: none; }
    .ez-navbar-brand .ez-navbar-brand-a {
      margin-left: 0 !important; }

  .ez-header-top-text .ez-header-text-span {
    font-size: 2.5rem !important; }

  .ez-header-bottom-subtext {
    font-size: 1.25rem !important; }

  .ez-header-bottom-text-span {
    font-size: 1.2rem !important; }

  .ez-header-addresse {
    font-family: Comfortaa;
    font-size: 0.6rem !important;
    margin-left: 0 !important; }
    .ez-header-addresse .ez-header-addresse-post,
    .ez-header-addresse .ez-header-addresse-phone,
    .ez-header-addresse .ez-header-addresse-time {
      font-size: 0.7rem !important;
      margin-top: 0.15rem;
      margin-bottom: 0.25rem; }
      .ez-header-addresse .ez-header-addresse-post p,
      .ez-header-addresse .ez-header-addresse-phone p,
      .ez-header-addresse .ez-header-addresse-time p {
        margin: 0 !important; }
      .ez-header-addresse .ez-header-addresse-post i, .ez-header-addresse .ez-header-addresse-post svg,
      .ez-header-addresse .ez-header-addresse-phone i,
      .ez-header-addresse .ez-header-addresse-phone svg,
      .ez-header-addresse .ez-header-addresse-time i,
      .ez-header-addresse .ez-header-addresse-time svg {
        font-size: 0.7rem; }
      .ez-header-addresse .ez-header-addresse-post a,
      .ez-header-addresse .ez-header-addresse-phone a,
      .ez-header-addresse .ez-header-addresse-time a {
        color: white !important; }
      .ez-header-addresse .ez-header-addresse-post .ez-soc-icon,
      .ez-header-addresse .ez-header-addresse-phone .ez-soc-icon,
      .ez-header-addresse .ez-header-addresse-time .ez-soc-icon {
        font-size: 1.1rem; } }
@media (max-width: 415px) {
  .ez-header-bottom-subtext {
    font-size: 0.85rem !important; }

  .ez-header-top-subtext {
    font-size: 0.7rem !important; }

  .ez-header-addresse {
    font-size: 0.6rem !important; }
    .ez-header-addresse .ez-header-addresse-post,
    .ez-header-addresse .ez-header-addresse-phone,
    .ez-header-addresse .ez-header-addresse-time {
      font-size: 0.6rem !important;
      margin-top: 0.15rem;
      margin-bottom: 0.25rem; }
      .ez-header-addresse .ez-header-addresse-post i, .ez-header-addresse .ez-header-addresse-post svg,
      .ez-header-addresse .ez-header-addresse-phone i,
      .ez-header-addresse .ez-header-addresse-phone svg,
      .ez-header-addresse .ez-header-addresse-time i,
      .ez-header-addresse .ez-header-addresse-time svg {
        font-size: 0.6rem; }
      .ez-header-addresse .ez-header-addresse-post .ez-soc-icon,
      .ez-header-addresse .ez-header-addresse-phone .ez-soc-icon,
      .ez-header-addresse .ez-header-addresse-time .ez-soc-icon {
        font-size: 1.1rem; } }
@media (max-width: 361px) {
  .ez-header-addresse {
    font-size: 0.5rem !important; }
    .ez-header-addresse .ez-header-addresse-post,
    .ez-header-addresse .ez-header-addresse-phone,
    .ez-header-addresse .ez-header-addresse-time {
      font-size: 0.5rem !important;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem; }
      .ez-header-addresse .ez-header-addresse-post i, .ez-header-addresse .ez-header-addresse-post svg,
      .ez-header-addresse .ez-header-addresse-phone i,
      .ez-header-addresse .ez-header-addresse-phone svg,
      .ez-header-addresse .ez-header-addresse-time i,
      .ez-header-addresse .ez-header-addresse-time svg {
        font-size: 0.6rem; }
      .ez-header-addresse .ez-header-addresse-post .ez-soc-icon,
      .ez-header-addresse .ez-header-addresse-phone .ez-soc-icon,
      .ez-header-addresse .ez-header-addresse-time .ez-soc-icon {
        font-size: 0.6rem; } }
.ez-flipclock {
  color: white;
  background-color: #563e91 !important;
  font-family: Roboto;
  /* Comfortaa; */
  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 0; }

.ez-flipclock .ez-flipclock-row.ez-flipclock-row-header {
  display: flex;
  justify-content: center;
  padding-top: 1.75rem;
  padding-bottom: 0; }

.ez-flipclock .ez-flipclock-row.ez-flipclock-row-header h5 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0; }

.ez-flipclock .ez-flipclock-row.ez-flipclock-row-header-rest {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0; }

.ez-flipclock .ez-flipclock-row.ez-flipclock-row-header-rest h5 {
  /* font-family: Marck Script; */
  font-family: Roboto;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 0; }

.ez-flipclock .ez-flipclock-row.ez-flipclock-row-body .ez-flipclock-clock {
  display: flex;
  justify-content: center;
  padding-top: 1.75rem;
  padding-bottom: 0; }

.ez-flipclock .ez-flipclock-row.ez-flipclock-row-body .ez-flipclock-clock.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
  color: white !important; }

.ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-col-icon {
  font-size: 2.8rem; }

.ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-kachest .ez-trigger-dover-col-icon {
  background-color: rgba(255, 187, 51, 0.85); }

.ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-brand .ez-trigger-dover-col-icon {
  background-color: rgba(51, 181, 229, 0.55); }

.ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-tseny .ez-trigger-dover-col-icon {
  background-color: rgba(170, 102, 204, 0.55); }

.ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-dostavka .ez-trigger-dover-col-icon {
  background-color: rgba(43, 187, 173, 0.55); }

.ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card .card-body {
  padding-top: .75rem;
  padding-bottom: 0; }

.ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card .card-body .card-text {
  text-transform: none; }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .ez-flipclock-row-header h5 {
    font-size: 0.85rem !important; }

  .ez-flipclock-sec, .ez-flipclock-col {
    display: none; } }
.ez-goods-one-row-col-card-body {
  background: -webkit-linear-gradient(bottom left, rgba(213, 15, 61, 0.72), rgba(13, 17, 198, 0.77) 100%) !important;
  background: -o-linear-gradient(bottom left, rgba(213, 15, 61, 0.72), rgba(13, 17, 198, 0.77) 100%) !important;
  background: linear-gradient(to top right, rgba(213, 15, 61, 0.72), rgba(13, 17, 198, 0.77) 100%) !important; }
  .ez-goods-one-row-col-card-body .card-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important; }

@media (max-width: 800px) {
  .ez-goods-one-header h4 {
    font-size: 1rem; }

  .ez-goods-one-row-col-card-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
    .ez-goods-one-row-col-card-body .ez-goods-one-row-col-card-body-title {
      font-size: 0.75rem !important; }
    .ez-goods-one-row-col-card-body .ez-goods-one-row-col-card-body-text {
      font-size: 0.7rem !important; } }
.ez-trigger-dover-row {
  color: white;
  font-family: Comfortaa;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  /* padding: 1.35rem 0 0rem; */
  padding: 0; }
  .ez-trigger-dover-row.ez-trigger-dover-row-header {
    display: flex;
    justify-content: center;
    padding: 2.25rem 0 2rem; }
    .ez-trigger-dover-row.ez-trigger-dover-row-header h5 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 0; }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-col-icon {
    font-size: 2.5rem; }
    .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-col-icon i, .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-col-icon svg {
      font-size: 2rem; }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card {
    padding-bottom: 1rem; }
    .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-kachest .ez-trigger-dover-col-icon {
      background-color: #b01c55; }
    .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-brand .ez-trigger-dover-col-icon {
      background-color: #b34a85; }
    .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-tseny .ez-trigger-dover-col-icon {
      background-color: #563793; }
    .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-dostavka .ez-trigger-dover-col-icon {
      background-color: #302fa5; }
    .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card .card-body {
      padding-top: 1rem;
      padding-bottom: 0; }
      .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card .card-body .card-text {
        text-transform: none; }

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .ez-trigger-dover-card .card-body .card-text {
    font-size: 0.8rem !important; } }
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .ez-trigger-dover-card .card-body .card-text {
    font-size: 0.75rem !important; }

  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-col-icon i,
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-col-icon svg {
    font-size: 1.85rem; } }
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .ez-trigger-dover-card .card-body .card-text {
    font-size: 0.7rem !important; } }
/* Landscape phones and smaller */
.ez-footer {
  font-family: Comfortaa;
  font-weight: 400;
  margin-top: 0 !important;
  background: -webkit-linear-gradient(bottom left, rgba(213, 15, 61, 0.72), rgba(13, 17, 198, 0.77) 100%) !important;
  background: -o-linear-gradient(bottom left, rgba(213, 15, 61, 0.72), rgba(13, 17, 198, 0.77) 100%) !important;
  background: linear-gradient(to top right, rgba(213, 15, 61, 0.72), rgba(13, 17, 198, 0.77) 100%) !important; }
  .ez-footer .ez-footer-cont-x .ez-footer-cont {
    background-color: transparent;
    padding: 0.5rem; }
    .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row {
      padding-top: 0 !important;
      margin-top: 0 !important;
      /* .ez-footer-social {
              a {
                  width: 4rem;
                  height: 4rem;
                  .ez-footer-social-fa {
                      font-size: 3rem!important;
                      line-height: 4rem!important;
                  }
              }
          } */ }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info {
        padding: 0 1.5rem;
        margin-top: 1rem; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info h6 {
          font-size: 1rem !important; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-logo {
          /* display: flex;
          justify-content: center;
          padding: 0 5rem;
          img {
              margin: auto;
          } */ }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-header {
          font-size: 1rem !important;
          text-align: center !important; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-header .ez-footer-info-header-40 {
            font-size: 1.25rem !important;
            font-style: italic;
            color: red !important; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-header a:hover {
            color: #e231bc !important;
            font-style: bold; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka .ez-footer-info-dostavka-header {
          justify-content: center;
          text-transform: uppercase;
          border-top: 1px solid white; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka .ez-footer-info-dostavka-header h5 {
            font-size: 1.1rem !important; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka .ez-footer-info-dostavka-body {
          font-size: 0.75rem !important;
          text-align: left !important;
          padding-left: 1rem; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka .ez-footer-info-dostavka-body ul {
            list-style: disc outside; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka .ez-footer-info-dostavka-free {
          font-size: 0.5rem; }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-yandex-map {
        display: flex !important;
        justify-content: center !important;
        min-height: 15rem; }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact {
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-header {
          font-size: 1.1rem !important;
          text-align: left !important;
          padding-left: 3rem; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body {
          font-size: 0.85rem !important;
          text-align: left !important;
          padding-left: 1rem; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body p {
            margin-bottom: 0.5rem; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body .ez-footer-contact-addr a:hover,
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body .ez-footer-contact-phone a:hover,
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body .ez-footer-contact-mail a:hover {
            color: #e231bc !important;
            font-size: 0.9rem; }

.ez-footer .ez-footer-contact .ez-footer-contact-body .ez-footer-contact-body-bank_card_all img.img-fluid {
  width: 70%; }

.ez-footer .footer-copyright .container-fluid {
  font-size: 0.6rem !important; }

.ez-footer-copyright {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.7); }
  .ez-footer-copyright a {
    color: rgba(255, 255, 255, 0.7); }
    .ez-footer-copyright a:hover {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none; }

.ez-footer-ne-offerta {
  font-size: 0.65rem;
  color: rgba(255, 255, 255, 0.7); }

/* 
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px
*/
@media (max-width: 415px) {
  .ez-footer {
    padding-top: 0 !important; }
    .ez-footer .ez-footer-cont-x .ez-footer-cont {
      padding-bottom: 0px !important; }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row {
        margin-bottom: 0 !important; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info {
          margin-top: 0 !important; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-header {
            font-size: 0.75rem !important;
            line-height: 1; }
        .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact {
          padding-bottom: 0.5rem !important; }
          .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body {
            font-size: 0.75rem !important; }
            .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body p {
              margin-bottom: 0 !important; }
              .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body p i, .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body p svg {
                padding-bottom: 0 !important; }
    .ez-footer .ez-footer-header {
      padding-top: 1rem !important;
      padding-bottom: 0 !important; }
      .ez-footer .ez-footer-header h4 {
        font-size: 1rem; }
    .ez-footer .ez-footer-info-hr {
      margin-top: 0 !important;
      margin-bottom: 0 !important; }

  .ez-footer-ne-offerta {
    font-size: 0.5rem; } }
/* ez-button-up */
.ez-button-up,
.ez-button-vk {
  z-index: 99; }
  .ez-button-up a,
  .ez-button-vk a {
    outline: 0; }
  .ez-button-up i, .ez-button-up svg,
  .ez-button-vk i,
  .ez-button-vk svg {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1rem; }

.ez-button-vk {
  position: fixed;
  bottom: 125px;
  right: 24px; }
  .ez-button-vk a {
    background-color: #3f729b; }

.oplata-method {
  position: fixed;
  width: 50px;
  background: transparent;
  right: 0;
  top: 100px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/* .oplata-method a:first-child > .oplata-to {
    border-top-left-radius: 4px;
}
.oplata-to.mdb-jquery {
    background-position: 0 -40px;
}
.oplata-to.active {
    background-color: rgba(0,0,0,.15);
} */
/* .oplata-to {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(https://mdbootstrap.com/img/logo/mdb-angular.png);
    background-repeat: no-repeat;
} */

/*# sourceMappingURL=ez-app.css.map */
