.modal {
  .modal-success {
    i, svg {
      color: rgba(1,211,107,1)
    }
  }
  .modal-info {
    i, svg {
      color: rgba(83,148,255,1)
    }
  }
  .modal-warning {
    i, svg {
      color: rgba(255,142,56,1)
    }
  }
  .modal-ganget {
    i, svg {
      color: rgba(204,0,0,1)
    }
  }
}


