/* ez-button-up */
.ez-button-up,
.ez-button-vk {
    z-index: 99;
	a {
		outline:0;
	}
 	i, svg  {
	    margin-left: 1.5rem;
	    margin-top: 1.5rem;
		font-size: 1rem;            
	} 
}
.ez-button-vk {
	position: fixed; 
	bottom: 125px; 
	right: 24px; 
	a {
		background-color: rgba(63,114,155,1);	
	}
}

.oplata-method {
    position: fixed;
    width: 50px;
    background: transparent;
    right: 0;
    top: 100px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
/* .oplata-method a:first-child > .oplata-to {
    border-top-left-radius: 4px;
}
.oplata-to.mdb-jquery {
    background-position: 0 -40px;
}
.oplata-to.active {
    background-color: rgba(0,0,0,.15);
} */
/* .oplata-to {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(https://mdbootstrap.com/img/logo/mdb-angular.png);
    background-repeat: no-repeat;
} */
